h1{
    font-family: 'Trebuchet MS';
    color: brown;
 }
 h2{
     font-family: 'Lucida Sans';
     color: blue;
 }
 p{
     font-family: Verdana;
     color: rgb(206, 204, 204);
     font-size: 12px;
     text-align: center;
 }
 img{
     width: 100px;
     height: 100px;
 }
 body{
     background-image: url(".././media/fondo.jpg");
     text-align: center;
     background-color: black;
     
 }